{% extends 'base_layout.html' %}
{% load static from static %}

{% block content %}
<div class="box has-text-centered" style="min-width: 100% ">
    <div class="has-text-right">
        {% if user == post.author %}
        <a href="{% url 'blog:edit_post' post.slug %}" class="button is-info">
            <ion-icon name="create-outline"></ion-icon>
        </a>
        <a href="{% url 'blog:delete_post' post.slug %}" class="button is-danger">
            <ion-icon name="trash-outline"></ion-icon>
        </a>
        {% endif %}
    </div>
    <div class="title has-text-black">
        {{post}}
    </div>
    {% if post.image %}
    <img src="{{post.image.url}}" alt="" class="image is-centered post-image">
    {% else %}
    <img src="{% static 'images/image.jpg' %}" alt="" class="image is-centered post-image">
    <!--<div></div> сделать так, чтобы картинка не была обязательной-->
    {% endif %}

    <div class="subtitle has-text-black">
        {{post.text}}
    </div>


    <div class="columns is-gapless my-3">
        <form method="post" class="has-text-right" action="{% url 'blog:like' post.slug %}">
            {% csrf_token %}
            <button class="button  {% if user in post.likes.all %} is-success {% endif %} " type="submit">
                <ion-icon name="heart-outline"></ion-icon>
                <span class="ml-3">
                    {{ post.likes_counter }}
                </span>
            </button>
        </form>
        <form method="post" class="has-text-right" action="{% url 'blog:dislike' post.slug %}">
            {% csrf_token %}
            <button class=" button {% if user in post.dislikes.all %} is-danger {% endif %} " type="submit">
                <ion-icon name="heart-dislike-outline"></ion-icon>
                <span class="ml-3">
                    {{ post.dislikes_counter }}
                </span>
            </button>
        </form>
    </div>


    <form method="post" enctype="multipart/form-data" class="comment has-text-right">
        {% csrf_token %}
        {{form}}
        <button class="button is-info my-3">
            Отправить
        </button>
    </form>
    {% if not post.comment_set.all %}
    <div class="has-text-centered has-text-grey-light subtitle is-6 my-4">
        0 комментариев
    </div>
    {% else %}
    <p class="has-text-centered is-size-3 mb-6">
        Комментарии
    </p>
    <div class="columns is-multiline">
        {% for comment in post.comment_set.all %}
        <div class="column is-4">
            <article class="message is-info">
                <div class="message-header">
                    Добавлено {{comment.user}} в {{comment.date}}
                </div>
                <div class="message-body">
                    {{comment.body}}
                    <div class="buttons has-addons my-3 is-right">
                        <a href="{% url 'blog:comment_delete' comment.pk %}" class="button is-multiline">
                            <ion-icon name="trash-outline"></ion-icon>
                        </a>
                        <a href="{% url 'blog:comment_edit' comment.pk %}" class="button is-multiline">
                            <ion-icon name="create-outline"></ion-icon>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}